<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>School Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">

    <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- CSS -->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/news.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shop.css') }}">
</head>
<body>

<!-- TOP BAR -->
<header class="shop-topbar">
    <a href="{{ url_for('cart') }}" class="cart-icon">
        <span class="material-icons">shopping_cart</span>

        {% if cart_count > 0 %}
        <span class="cart-badge">{{ cart_count }}</span>
        {% endif %}
    </a>

    <form method="get" class="search-container">

        <span class="material-icons icon">search</span>

        <input
            type="text"
            name="q"
            placeholder="Search books..."
            value="{{ request.args.get('q','') }}"
        >

    </form>
</header>

<!-- HERO -->
<section class="shop-hero">
    <div class="hero-overlay">
        <h1>Shop</h1>
        <p>Quality products for every learner</p>
    </div>
</section>

<!-- SECTION TITLE -->
<!-- RECENT POSTS HEADER -->
<section class="recent-posts-header">
    <div class="recent-divider"></div>

    <h2>
        <span class="accent">Popular</span> Sales
    </h2>

    <p class="recent-subtitle">
        Your Academic Adventure Starts Here
    </p>

</section>

<!-- PRODUCTS -->
<main class="shop-container">
    {% for product in products %}
    <article class="product-card">

        <a href="{{ url_for('product_detail', product_id=product.id) }}">
            <img
                src="{{ url_for('static', filename='uploads/' ~ product.image) }}"
                alt="{{ product.name }}"
                class="product-img"
            >
        </a>

        <div class="product-info">
            <h3>{{ product.name }}</h3>
            <span class="price">R{{ product.price }}</span>

            <a href="{{ url_for('add_to_cart', product_id=product.id) }}" class="add-btn">
                Add to Cart
            </a>
        </div>

    </article>
    {% endfor %}
</main>


<!-- FOOTER -->
<footer class="site-footer">
    <p>© <span id="year"></span> Unobhala Secondary School. All rights reserved.</p>
</footer>

<script>
document.getElementById("year").textContent = new Date().getFullYear();
</script>

</body>
</html>
