<!-- product_detail.html -->
{% extends "base.html" %}

{% block title %}{{ product.name }} | Unobhala Secondary School{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/product_detail.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/news.css') }}">
{% endblock %}

{% block content %}

<section class="product-detail-container">

        <div class="product-detail-container">

            <div class="product-detail-card">

                <!-- IMAGE -->
                <div class="product-image-section">
                    <img
                    src="{{ url_for('static', filename='uploads/' ~ product.image) }}"
                    alt="{{ product.name }}"
                    class="product-detail-image"
                    >
                <!-- INFO -->
                <div class="product-info-section">

                    <h1 class="product-title">{{ product.name }}</h1>

                    <p class="product-price">R {{ product.price }}</p>

                    {% if product.description %}
                    <p class="product-description">
                        {{ product.description }}
                    </p>
                    {% endif %}

                    <!-- BUY AREA -->
                    <form method="POST" action="{{ url_for('add_to_cart', product_id=product.id) }}" class="buy-section">

                        <div class="qty-box">
                            <label>Quantity</label>
                            <input type="number" name="quantity" value="1" min="1">
                        </div>

                        <a href="{{ url_for('add_to_cart', product_id=product.id) }}" class="add-cart-btn">
                            Add to Cart
                        </a>

                    </form>

                </div>
                <div class="product-meta">
                    <p><strong>Category:</strong> {{ product.category }}</p>
                    <p><strong>Sold by:</strong> School Store</p>
                </div>

            </div>
    </div>

</section>

<!-- FOOTER -->
<footer class="site-footer">
    <p>© <span id="year"></span> Unobhala Secondary School. All rights reserved.</p>
</footer>

<script>
document.getElementById("year").textContent = new Date().getFullYear();
</script>

{% endblock %}

